# Build and Compilation Folders
.vs/
.vscode/
out/
bin/
obj/
dist/
Debug/
Release/
build/CMakeFiles/
x64/
x86/

# C/C++ Compiled Files
*.obj
*.pdb
*.ilk
*.idb
*.exp
*.pch
*.tlog
*.suo
*.user
*.sdf
*.aps

# Python
__pycache__/
*.py[cod]
*.class
*.py

# Binaries
*.exe
*.dll

# SQL Files
*.sql

# Logs and Archives
*.log
*.tmp
*.bak
*.pcap
*.pcapng
*.zip
*.rar
*.7z
*.txt
!CMakeLists.txt
scratch/

